<!DOCTYPE html>
<html>
<head>
<title>Examiner</title>
<style>
body { font-family:'Segoe UI'; background:#f4f6f9; }
.container { width:70%; margin:auto; margin-top:30px; }
.box {
    background:white; padding:20px; border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1); margin-bottom:20px;
}
input { width:100%; padding:10px; margin:8px 0; }
button {
    padding:10px; background:#667eea; color:white;
    border:none; border-radius:5px; cursor:pointer;
}
.delete { background:red; }
h2 { text-align:center; }
</style>
</head>

<body>
<div class="container">

<h2>Examiner Panel</h2>

<div class="box">
<form method="POST">
    Test ID:
    <input type="text" name="test_id">

    Question:
    <input type="text" name="question">

    Ideal Answer:
    <input type="text" name="ideal">

    Marks:
    <input type="number" name="max_marks">

    <button>Add Question</button>
</form>
</div>

<div class="box">
<h3>All Tests</h3>

{% for test_id, qs in tests.items() %}
    <h4>{{ test_id }}</h4>

    {% for q in qs %}
        <p>
        {{ q.question }} ({{ q.max_marks }})
        <a href="/delete_question/{{ test_id }}/{{ loop.index0 }}">
            <button class="delete">Delete</button>
        </a>
        </p>
    {% endfor %}
{% endfor %}

</div>
</div>
</body>
</html>